# GitHub Actions workflow that runs on a cron schedule.

name: Cron Scheduled CI Tests

permissions: {}

on:
  schedule:
    # run at 6am UTC on Mondays
    - cron: '0 6 * * 1'

jobs:
  # Testing links in documents is a good example of something to run on a schedule
  # to catch links that stop working for some reason.
  cron_tests:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: Check links in docs using tox
            python: '3.11'
            toxenv: linkcheck

          - name: Python 3.11 with latest dev versions of key dependencies
            python: '3.11'
            toxenv: py311-test-devdeps

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
    - name: Cache Astropy data
      uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7  # v5.0.2
      with:
        key: ${{ matrix.toxenv }}
        path: ~/.astropy/cache
    - name: Set up python ${{ matrix.python }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        cache: pip
        python-version: ${{ matrix.python }}
    - name: Install base dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox
    - name: Test with tox
      run: tox -e ${{ matrix.toxenv }}
