# GitHub Actions workflow that runs on a cron schedule.

name: Cron Scheduled CI Tests

permissions: {}

on:
  schedule:
    # run at 6am UTC on Mondays
    - cron: '0 6 * * 1'
  workflow_dispatch:

jobs:
  # Testing links in documents is a good example of something to run on a schedule
  # to catch links that stop working for some reason.
  cron_tests:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: Check links in docs using tox
            python: '3.12'
            toxenv: linkcheck

          - name: Python 3.12 with latest dev versions of key dependencies
            python: '3.12'
            toxenv: py312-test-devdeps

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
    - name: Cache Astropy data
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306  # v5.0.3
      with:
        key: ${{ matrix.toxenv }}
        path: ~/.astropy/cache
    - name: Set up python ${{ matrix.python }}
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
      with:
        cache: pip
        python-version: ${{ matrix.python }}
    - name: Install base dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox
    - name: Test with tox
      run: tox -e ${{ matrix.toxenv }}
