# GitHub Actions workflow for testing and continuous integration.
#
# This file performs testing using tox and tox.ini to define and configure the test environments.

name: CI Tests

permissions: {}

on:
  - push
  - pull_request

jobs:
  types:
    name: Python type checking
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 0
      - name: Set up python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          cache: pip
          python-version: "3.11"
      - name: Run mypy
        uses: python/mypy@v1.19.1
  # Github Actions supports ubuntu, windows, and macos virtual environments:
  # https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners
  ci_tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: Python 3.11 with minimal dependencies and coverage checking
            os: ubuntu-latest
            python: '3.11'
            toxenv: py311-test-cov

          - name: Python 3.11 with all optional dependencies and coverage checking
            os: ubuntu-latest
            python: '3.11'
            toxenv: py11-test-alldeps-cov

          # - name: OS X - Python 3.11 with all optional dependencies
          #   os: macos-latest
          #   python: '3.11'
          #   toxenv: py311-test-alldeps

          # - name: Windows - Python 3.11 with all optional dependencies
          #   os: windows-latest
          #   python: '3.11'
          #   toxenv: py311-test-alldeps

          - name: Python 3.11 with oldest supported version of all dependencies
            os: ubuntu-22.04
            python: '3.11'
            toxenv: py311-test-oldestdeps

          # - name: Python 3.11 with latest dev versions of key dependencies
          #   os: ubuntu-latest
          #   python: '3.11'
          #   toxenv: py311-test-devdeps

          # - name: Test building of Sphinx docs
          #   os: ubuntu-latest
          #   python: '3.11'
          #   toxenv: build_docs

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      with:
        fetch-depth: 0
    - name: Cache Astropy data
      uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7  # v5.0.2
      with:
        key: ${{ matrix.toxenv }}
        path: ~/.astropy/cache
    - name: Set up python ${{ matrix.python }} on ${{ matrix.os }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        cache: pip
        python-version: ${{ matrix.python }}
    - name: Install base dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox codecov

    - name: Test with tox
      env:
        CPLEX_STUDIO_KEY: ${{ secrets.CPLEX_STUDIO_KEY }}
        GRB_LICENSE_FILE_CONTENTS: ${{ secrets.GRB_LICENSE_FILE_CONTENTS }}
      run: |
        if [ -n "$GRB_LICENSE_FILE_CONTENTS" ]; then
          printenv GRB_LICENSE_FILE_CONTENTS > $HOME/gurobi.lic
        fi
        tox -e ${{ matrix.toxenv }}

    - name: Upload coverage to codecov
      if: contains(matrix.toxenv, '-cov')
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de  # v5.5.2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Upload test results to Codecov
      if: contains(matrix.toxenv, '-cov')
      uses: codecov/test-results-action@0fa95f0e1eeaafde2c782583b36b28ad0d8c77d3  # v1.2.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
